#profile-page-name {
    text-shadow: 2px 2px grey;
}


.rating-table {
  max-width: 60%;
  margin: auto auto;
}

 #product-tables-container {
  margin-top: 50px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  padding-top: 20px;



 }

#product-page-simpleform {
  margin: 30px auto auto auto;
}

#product-back-to-list {
  margin-top: 40px;
}

#product-page-informations {
  border: 1px solid grey;
  padding: 30px 30px;
}
