.ppimage {
  border: solid white 8px;
  }

.imagebox {
  position: absolute;
  bottom: -30%;
  right: 45%;
}

.ppname {
  color: White;
}

#productinfos {
  margin-top: 270px;
  margin-bottom: 70px;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info_bookingbox {
  margin: 50px;
}

#info-wrapper {
  display: flex;
    align-items: center;
    justify-content: center;
}
