.ppimage {
    position: absolute;
    bottom: -30%;
    right: 55%;
    border: solid white 8px;
    }
.ppname {
  position: absolute;
  bottom: 0;
  right: 40%;

}

.frienddescritpion {
  margin-top: 200px;
}
