<h1>Friends</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <% @friends.each do |friend| %>
          <%= friend.name %> - <%= friend.age %>
          <%= friend.description %>
          <%= friend.city %>
        <% end %>

    </div>
  </div>
</div>
