<div class="container formlayout">
<h2>Add a new friend</h2>
<div class="col-xs-12 col sm-4"></div>
<div class="col-xs-12 col sm-4"><%= render 'form' %>
</div>
<div class="col-xs-12 col sm-4"></div>

</div>
