<div class="footer-wrapper <%= '.absolute' if @fixed_footer %>">
<div class="footer">
  <div class="container">
    <div class="social-media-icons">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
      <i class="fa fa-youtube" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </div>
</div>
</div>
