.footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 100px;
  border-style: solid;
  border-top-color: rgba(69,165,255,1);
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;



}


.footer {
  background: white;
  padding: 10px;
}

i {
  color: rgba(69,165,255,1);
}

.social-media-icons {
  font-size: 1.5em;
}

i {
  margin: 0px 5px;
}

// Your footer style
