.profile-banner {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.profile-details {
  margin-bottom: 400px;
  width: 100%;
  padding: 0px 100px;
  margin-top: -140px;
  h2 {
    color: white;
  }
  h3 {
    color: black;
  }
}

.profile-desc {
  position: absolute;
  top: 70px;
  left: -20px;
}

.action_button_profile {
  position: absolute;
  left: -20px;
}
